@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<h3>
    Sorry, an error occurred while processing your request.
</h3>
<em>
    Please try to refresh the page or come back after a period of time, thanks!
</em>