@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<h2>
    Unfortunately, an error occurred while processing your request.
</h2>
<i>
    Please try to refresh the page or come back after a period of time, thanks!
</i>