<div id="sidebar">
    <section class="blocks">
        <a href="#" class="block_one">
            <h3>Login by Facebook</h3>
        </a>
        <a href="#" class="block_two">
            <h3>Login by Google</h3>
        </a>
    </section>
</div>
