@{
    ViewBag.Title = "Contact";
}
<section class="contact phone">
    <h3>Phone</h3>
    <p>
        <span>+84 98 458 21 88</span>
    </p>
</section>
<section class="contact email">
    <h3>Email</h3>
    <p>
        <span><a href="mailto:ngohuuloc@gmail.com">ngohuuloc@gmail.com</a></span>
    </p>
</section>
<section class="contact address">
    <h3>Address</h3>
    <p>
        <span>Lot T2 Saigon High Tech Park, District 9, Hochiminh City, Vietnam</span>
    </p>
</section>
